$font-1: "GeneralSans", sans-serif;

$font-size: 1rem; // Base 10 pour simplifier les calculs
$baseline: 1.25rem;

$bold: 400;

html{
    font-size: 14px;
    @media print{font-size: 13px;}
    line-height: $baseline;
    font-family: $font-1;
    font-weight: 300;
}


// Main

@mixin f1($s, $l, $w, $ls, $color){
    font-family: $font-1;
    font-size: $font-size*$s;
    line-height: $baseline*$l;
    font-weight: $w;
    letter-spacing: #{$ls}px;
    //@include leading-trim($l);
}

@mixin f1-s6($color: var(--color3)){
  @include f1(6, 6, 300, -.3,  $color);
}
@mixin f1-s5($color: var(--color3)){
  @include f1(5, 5, 300, -.3,  $color);
}
@mixin f1-s4($color: var(--color3)){
  @include f1(4, 4, 300, -.3,  $color);
}
@mixin f1-s3($color: var(--color3)){
  @include f1(3, 3, 300, -.2,  $color);
}
@mixin f1-s2($color: var(--color3)){
  @include f1(2, 2, 300, 0,  $color);
}
@mixin f1-s1($color: var(--color3)){
  @include f1(1, 1, 400, 0,  $color);
}
@mixin f1-s0($color: var(--color3)){
  @include f1(.75, .75, 400, 0,  $color);
}