$h: $baseline*20;

body#categorie{
	
	main{
		> header{
			/*Fallback */ margin-top: calc(100vh - #{$baseline*5} - 4rem);
			margin-top: calc(100vh - #{$baseline*6} - clamp(4rem, 15vw, 200px)  -  #{$baseline/2});
			@include for-size(desktop){ 
				/*Fallback */ margin-top: calc(100vh - #{$baseline*5} - 150px);
				margin-top: calc(100vh - #{$baseline*4} - clamp(4rem, 10vw, 200px) -  #{$baseline/2});
			}

			h1{
				font-family: $font-1;
				line-height: 80%;
				font-size: 4rem;
				font-weight: $bold;
				@include for-size(desktop){
					font-size: 150px;
					font-size: calc(clamp(4rem, 10vw, 200px));
				}
			}

			.exp{
				position: absolute;
				top: $baseline*-1;
			}
		}

		.content{
			max-width: 400px;
			/*Fallback */ margin: #{$baseline*6} 0 #{$baseline*5} 0;
			margin: calc(clamp(#{$baseline*6}, 25vh, 250px)) 0 #{$baseline*5}  0;
			min-height: calc(clamp(#{$baseline*10, 33vh, 400px}))
		}

		nav#sideNav{
			///*Fallback */ margin: #{$baseline*3} 0 #{$baseline*6} 0;
			//margin: calc(clamp(#{$baseline*3}, 10vh, 150px)) 0 calc(clamp(#{$baseline*3}, 10vh, 150px)) 0;		
		}
	}

	@include sideNavHorizontal();
 
  &[data-categorie="1"] nav#sideNav li.cat:not([data-categorie="1"]){display: none;}
  &[data-categorie="2"] nav#sideNav li.cat:not([data-categorie="2"]){display: none;}
  &[data-categorie="3"] nav#sideNav li.cat:not([data-categorie="3"]){display: none;}
}