body#index{
	
	#topbar nav{ visibility: hidden; }

	> footer{display: none}

	main{

		nav{
			height: 66vh;
			@include flex();
			@include justify-content(center);
			@include align-items(center);

			ul{
				
				width: 100%;
				text-align: center;

				li{
					@include f1-s1();
					//font-size: $font-size*1.25;
					font-weight: $bold;
					line-height: 180% !important;
					display: inline-block;
					
					a{
						padding: $baseline/2 $unite/2;
						z-index: 1;

				      &:after {
				      		// underline
				          content: "";
				          display: block;
				          margin: 0 auto;
				          width: 0;
				          height: 1px;
				          left: $unite/2;
				          background-color: var(--cc);
				          transition: opacity .2s ease,width .2s ease;
				          z-index: 1;
				   		}
					}



 					.videoWrapper{
							
						position: fixed;
						left: 0;
						top: 	0;
						z-index: -1;
						animation: pulse 4s steps(12) infinite;
						visibility: hidden;

						video, iframe{
							opacity: 0;
							min-width: 100vw;
						  	height: 100vh;
							mix-blend-mode: luminosity;
						}

						video{
						  left: 0%;
						  transform: translateX(-50%);
						}
					}
				

					a:hover{
						&:after {width: 66%; transition: opacity .3s ease,width .3s ease;}
						& + .videoWrapper{
							visibility: visible;
							video, iframe{ opacity: 1; }
						}
					}

					// Specific
					&:nth-of-type(2) .videoWrapper video{ mix-blend-mode: screen}

				}
			}
		}


		@include for-size(desktop){
			min-height: calc(100vh - #{$baseline*8});
			nav ul li a{padding-left: $unite; padding-right: $unite;}
			nav ul li .videoWrapper{
				video, iframe{height: inherit; min-height: 100vh;}
				video{left: 50%;}
			}
		}
	}

	&.fadeVideo1 main nav > ul > li:nth-of-type(1) .videoWrapper,
	&.fadeVideo2 main nav > ul > li:nth-of-type(2) .videoWrapper,
	&.fadeVideo3 main nav > ul > li:nth-of-type(3) .videoWrapper{
		 visibility: visible;
		 video, iframe{
			animation: fade 7s linear;
			@keyframes fade {
				0% { opacity: 1 }
				2% { opacity: .1 }
				100% { opacity: 0; }
			}
		}
	}	

	// hard ugly coding
	&[data-cc="k"][data-bg="w"]{--cc: var(--cW)}
}