body#piece{

	main > * {transition: filter .25s ease-in-out;}

	// Carrousel
	#carrousel{
		height: calc(100vh - #{$baseline*5});
		box-sizing: border-box;
		@include for-size(desktop){ 
			height: calc(100vh - #{$baseline*10});
			padding: $baseline*2 0;
		}

		&:not(.single){
			width: 100vw;
			left: -$unite;
			@include for-size(desktop){left: $unite*-4;}
		}

		// if single Media
		&.single{
			width: 100%;
			@include flex();
			@include justify-content(center);
			@include align-items(center);
			> video, > figure{
				width: 100%;
				max-width: 1920px;
				max-width: calc(max(100%, 1920px));

			}
			> figure{height: 100%;}
		}

		// special Siema
		div{height: 100%;}

		button{
			position: absolute;
			height: 100%;
			max-height: 75vh;
			width: 33.333%;
			top: 0;
			background: transparent;
			z-index: 3;
			&.prev{left: 0;cursor: url('/static/svg/arrow-L.svg') 50 50, auto;}
			&.next{right: 0;cursor: url('/static/svg/arrow-R.svg') 50 50, auto;}
		}

		picture{
			@include flex;
			@include justify-content(center);
			max-width: 100%;
			max-height: 100%;
		}
		figure{
			top: 50%;
			transform:translateY(-50%);
			text-align: center;
			img{ max-width: calc(100% - #{$unite*2}); object-fit: contain;	}
			// @include for-size(desktop){ img{ max-width: calc(max(100%, 1920px))} }

		}

		a#to-details{
			position: absolute;
			bottom: $baseline;
			left: 50%;
			transform: translateX(-50%) translateY(0);
			@include f1-s0();
			text-align: center;
			padding: $baseline/4 2px;
			stroke-width: 3px;//1.5px;
			transition: .5s ease;
			display: none;
			@include for-size(desktop){
				display: inline-block;
				bottom: $baseline*-1;
			}

			@keyframes upDown{
				0%{ transform: translateY(0);}
				100%{ transform: translateY($baseline);}
			}

			&:hover svg{
				animation: .75s ease-in-out infinite alternate upDown;
			}
		}
	}

	// details / content
	#details, #content{
		max-width: 960px;
		width: 100%;
		margin-left: auto; 
		margin-right: auto; 
	}

	// details
	#details{
		margin-top: $baseline*3;
		padding: $baseline 0  $baseline*3 0; 
		p, ul{font-weight: $bold;}
		p:first-of-type{ margin-bottom: $baseline/2; }
		h1{ @include f1-s4(); line-height: 4rem; margin-bottom: $baseline*1.5;}
		ul{
			@include flex();
			@include flex-wrap(wrap);
			gap: $unite/2;
			li{
				width: 20%; 
				min-width: $unite*5;
				text-transform: capitalize;
			}
		}
		@include for-size(desktop){
			margin-top: calc(clamp(#{$baseline*4}, 20vh, 250px));
			padding: $baseline*2 0  calc(clamp(#{$baseline*4}, 10vh, 100px)) 0; 
			p:first-of-type{}
			h1{ @include f1-s6(); line-height: 6rem;}
		}
	}	

	// content
	#content{
		> * {max-width: 600px;}
		p{
			@include f1-s1();
			margin-bottom: $baseline;
		}

		h1, h2{
			@include f1-s2();
			margin-bottom: $baseline * 2;
		}
		figure{
			
			margin: $baseline*2 0;
			max-width: inherit;
			@include for-size(phone){ padding-left: $unite*2; }
			@include for-size(desktop){ left: $unite*2; }
			img{
				object-fit: contain;
				object-position: left;
				max-height: 600px;
				height: 100%;
				width: 100%;
			}
			figcaption{
				@include f1-s0();
				margin: $baseline 0;
			}
		}
	}

	#related{
		height: calc(100vh - #{$baseline*5});
		@include for-size(phone){ 		
			padding: $baseline*2 0;
			box-sizing: border-box;
		}
		@include for-size(desktop){ 		
			height: calc(100vh - #{$baseline*8});
			height: calc(clamp(300px, calc(100vh - #{$baseline*8}), 800px));
			@include grid(repeat(8, 1fr), auto,  $baseline $unite/2, null, end);
		}
		@include for-size(desktop-1200){
			@include grid(repeat(9, 1fr), auto,  $baseline $unite/2, null, end);
			padding: $baseline*2 0;
			box-sizing: border-box;
			h2{grid-column: 2/ span 6; -ms-grid-column: 2/ span 6;}
		}

		h2{
			@include f1-s2();
			line-height: 90% !important;
			@include for-size(desktop){ 
				position: absolute;
				@include f1-s4();
				bottom: $baseline*2;
			}
		}		
	}

	// SideNav
	@include for-size(phone){
	  @include sideNavHorizontal();
	  nav#sideNav{
	  	position: absolute; bottom: $baseline*15;
	  	.sort-options{display: none;}
	  	.item.related{order: 1;}
	  	.item:not(.related){
	  		order: 2;
	  		background: var(--bg);
	  		> *{ opacity: .5; }
	  	}
	  }
	}
	@include for-size(desktop){
	  @include sideNavVertical();
	}
}