/*
    On Off
            */
            
input.on-off{
  position: relative;
  width: 2.5em;
  height: 1.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  outline: none;
  border-radius: 1em;
  box-shadow: inset 0 0 0.5 gray;
  transition: all 0.25s ease-in-out, color 0s;
  border: 1px solid currentColor;
  overflow: hidden;
  cursor: pointer;

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; //var(--cc);
    opacity: 0;
  }

  & + label{
    position: absolute;
    top: -1px;
    left: calc(50% - 1px);
    width: 100%;
    padding: 0;
    cursor: pointer;
    transition: 0.25s ease-in-out;

    svg{
      position: absolute;
      left: 0.75px;
      top: 1px;;
      stroke-width : 1px;
      transform: scale(.75);
      transition: all 0s 0s, transform 0.25s 0 ease;
/*       @media(-webkit-min-device-pixel-ratio: 1.5){
        stroke-width: .75px;
        top: -.5px
      } */
      .second{ opacity: 0; transition:  color 0s, opacity .1s ease-in-out;}
    }
  }
}

/*input.on-off::before {
  content: "";
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background: var(--bg);
  top: -.125em;
  left: 52%; left: calc(50% + 2px);
  transition: all 0.25s ease-in-out;
  transform: scale(1.1);
  border: 1px solid currentColor;
}*/

input.on-off:checked{
  /*&::before{
    left: 0;
  }*/
  + label{
    left: 0px;
    svg{
      animation: scale 1 .5s .25s ease;
      transition: transform .25s .25s ease;

      @keyframes scale{
        0%{transform: scale(1);}
        80%{transform: scale(1.5);}
        100%{transform: scale(1);}
      }

      .second{ 
        opacity: 1;
        &:nth-of-type(2){transition-delay: .2s;}
        &:nth-of-type(3){transition-delay: .25s;}
        &:nth-of-type(4){transition-delay: .3s;}
      }
    }
  }
}
input.on-off:not(:checked) {
  &:before{ opacity: .15}
  + label svg circle:first-of-type{ fill: var(--bg); }
}

/* 
  Strobos 
          */

#strobos{
  position: absolute;
  right: 0;
  z-index: 5;
  @include for-size(phone){
    top: calc(100vh - #{$baseline*8} + 4px);
    transform: rotate(90deg);
    transform-origin: bottom;
  }
  @include for-size(desktop-1200){
    position: fixed;
    top: calc(100vh - #{$baseline*3});
    right: $unite*4
  }
  font-weight: $bold;
  cursor: pointer;
}          