:root{
	--cR: hsl(2, 95%, 44%); // r
	--cRR: hsl(5, 92%, 34%);
	--cRRR: hsl(8, 92%, 30%);  	
	--cW: hsl(0, 0%, 100%); // w
	--cWW: hsl(0, 0%, 95%);
	--cWWW: hsl(0, 0%, 87%);
	--cK: hsl(0, 0%, 0%); // b
	--cKK: hsl(0, 0%, 15%);
	--cKKK: hsl(0, 0%, 30%);
	
	--dur: 15s;
	--rot: -45deg;
}

::-moz-selection, ::selection {
	color: var(--bg);
  background-color: var(--cc);
}

body{
	
	background: var(--bg); 
	color: var(--cc);
	
	&[data-cc="r"]{ --cc: var(--cR); }
	&[data-cc="w"]{ --cc: var(--cW); }
	&[data-cc="k"]{ --cc: var(--cK); }
	&[data-bg="r"]{ --bg: var(--cR); --bgg: var(--cRR); --bggg: var(--cRRR); }
	&[data-bg="w"]{ --bg: var(--cW); --bgg: var(--cWW); --bggg: var(--cWWW); }
	&[data-bg="k"]{ --bg: var(--cKK); --bgg: var(--cKK); --bggg: var(--cKKK); }

	&.pulse{
		animation: pulse 6s steps(12) infinite;		
		@keyframes pulse {
			0% { background-color: var(--bg); }
			33% { background-color: var(--bggg); }
			90% { background-color: var(--bg); }
		}
	}

	.ryochInit:after{
	  content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;

	}

	/*&.ryochi{
		color: var(--cc);		
		.ryochInit:after{
			visibility: visible;
			animation: ryochi .15s steps(2) infinite ;		
			@keyframes ryochi {
				0% { background-color: transparent; }
				66% { background-color: transparent; }
				66.01% { background-color: var(--cW); }
				100% { background-color: var(--cW); }
			}
		}
	}*/
}