body > footer{
	// global
	nav li{text-transform: capitalize;}

	.mentions{
		@include f1-s0();
		opacity: .66;
	}

	// phone, stacked
	@include for-size(phone){
		margin: $baseline*2 0;
		p{margin-bottom: $baseline}
	}
	// Desktop, 2 cols
	@include for-size(desktop){
		margin: $baseline*3 0;
		@include grid(repeat(8, 1fr), 50px auto auto,  $baseline math.div($unite, 2));
		.mentions{
			-ms-grid-row: 2; grid-row: 2;
			&:nth-of-type(2){-ms-grid-column: 1 / span 4; grid-column: 1 / span 4;}
			&:last-of-type{-ms-grid-column: 5 / span 4; grid-column: 5 / span 4;}
		}
	}
	// Desktop wide, 3cols
	@include for-size(desktop-1200){
		@include grid(repeat(9, 1fr), 50px 1rem,  $baseline math.div($unite, 2));
		.mentions{
			-ms-grid-row: 2; grid-row: 2;
			&:nth-of-type(2){-ms-grid-column: 1 / span 6; grid-column: 1 / span 6;}
			&:last-of-type{-ms-grid-column: 7 / span 3; grid-column: 7 / span 3;}
		}
	}
}
