body > footer{
	// global
	nav li{text-transform: capitalize;}

	.mentions{
		@include f1-s0();
		opacity: .66;
	}

	// phone, stacked
	@include for-size(phone){
		margin: $baseline*2 0;
		p{margin-bottom: $baseline}
	}
	// Desktop, 2 cols
	@include for-size(desktop){
		margin: $baseline*3 0;
	}
}
