#topbar{
	@include flex();
	@include justify-content(space-between);
	z-index: 5;
	margin-top: $baseline*2;
	margin-bottom: $baseline*2;
	@include for-size(desktop){
		margin-top: $baseline*3;
		margin-bottom: $baseline*3; 
	}

	*{ @include f1-s1(); font-weight: $bold; }

	nav{
		> ul {
			> li{
				display: inline-block;
				text-transform: capitalize;

				&:first-of-type{
					cursor: pointer;
					max-height: $font-size*.75;
					text-align: right;
					overflow: hidden;

					> *{ 
						top: -.25rem; 
						transform: translateY(0); 
						transition: transform .25s ease;
					}

					span{display: inline-block;}

					&:hover{
						> *{transform: translateY(-$baseline);}
					}

					> ul {
						> li{
							display: inline-block;
							padding-left: $unite/2;
						}
					}

				}
				&:last-of-type:before{
					content: "";
					border-left: 1px solid currentColor;
					padding-right: $unite/2;
					margin-left: $unite/2;
					height: $baseline;					
				}
			}
		}
	}
}