#topbar{
	@include flex();
	@include justify-content(space-between);
	z-index: 5;
	margin-top: $baseline*2;
	margin-bottom: $baseline*2;
	@include for-size(desktop){
		margin-top: $baseline*3;
		margin-bottom: $baseline*3; 
	}

	*{ @include f1-s1(); /* font-weight: $bold; */ }

	h1{ transition: .25s ease-in-out;} 

	nav{
		cursor: pointer;
		max-height: $baseline*1.5;
		text-align: right;
		overflow: hidden;
		transition: max-height .25s ease;

		> *{ 
			//top: -.25rem; 
			transform: translateY(0); 
			transition: transform .25s ease;
		}
		
		&:hover {
			> *{transform: translateY(-$baseline*2);}
		}

		@include for-size(phone){
			position: absolute;
			right: 0;
			&:hover {max-height: $baseline*4;}
		}
		
		.parent{display: inline-block; margin-bottom: $baseline;}
		
		> ul {
			padding-left: $unite; // Prevent responsive overflow on Klown
			> li{
				display: inline-block;
				text-transform: capitalize;
				padding: 0 0 $baseline/3 $unite/2;

				&:after {
      		// underline
          content: "";
          display: block;
          margin: 0 auto;
          width: 0;
          height: 1px;
          bottom: $baseline/-3;
          background-color: var(--cc);
          transition: opacity .2s ease,width .2s ease;
          z-index: 1;
	      }				
        &:hover:after, .underline {width: 66%; transition: opacity .3s ease,width .3s ease;}
			}
		}
	}
}

@include for-size(phone){
	input#toggle-menu:checked ~ #topbar nav{
		max-height: $baseline*4;
		> ul > li{ display: block;}
		> *{transform: translateY($baseline*-2);}
	}
}