// variables and mixins
@import 'utilities/colors';
@import 'utilities/queries';
@import 'utilities/typo';
@import 'utilities/divers';
@import 'utilities/cross-browser';
@import 'utilities/paper-size';

// base
@import 'base/normalize';
@import 'base/clean';
@import 'base/body';


// component
@import 'component/topbar';
@import 'component/footer';
@import 'component/colors';
@import 'component/buttons';
@import 'component/icons';
//@import 'component/carrousel';
@import 'component/side';
@import 'component/transition';


// pages
@import 'pages/index';
@import 'pages/categorie';
@import 'pages/piece';
@import 'pages/info';


